.App{
  display: flex;
  flex-direction: column;
}

.projects{
  height: 150px
}

.nyc{
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  opacity: .8;
}

.about{
  margin-top: -400px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 30vw;
}