.App{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}
body{
  background-color: black;
  font-family: 'Montserrat';
}

.projects{
  height: 150px
}

.computer{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.computerWrapper{
  height: 70vh;
  width: 100vw;
}

.about, .projects, .home{
  margin-top: -300px;
  padding: 0 8vw;
  color: black;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8vw;
  height: 13vh;
  align-items: center;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 15vw;
  margin: 0 5vw;
}
a:hover, .homeLink:hover{
  color: red;
}
a.homeLink{
  color: white;
  font-weight: 800;
  font-size: 2.5em;
}

a{
  text-decoration: none;
  color:white
}

.myAbout{
  margin-top: 50vh;
}

.myAbout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutWords{
  width: 40vw;
  padding: 3.5vh 0 1vh 0;
}

.myProjects{
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectImage{
  width: 20vw;
}

.projectInWrap{
  display: flex;
  flex-direction: row;
  margin: 3vh 0;
}
h2{
  text-align: center;
  text-decoration: underline;
}
.projectInner{
  width: 30vw;
  margin: 0 15px;
  text-align: center;
}
.tech{
  font-size: 1.3em;
}

.myContact{
  text-align: center;
}
footer{
  display: flex;
  justify-content: space-between;
  margin: 10vh 10vw 4vw 10vw;
  font-size: 2vh;
  align-items: center;
}
.outerFooter{
  display: flex;
  margin: 0 3vw;
}
.innerFooter{
  margin: 0 3vw
}

.js{
  font-size: .5em;
}

.selfPic{
  width:100%;
  height: 100%;
  object-fit: contain;
}

.selfPicWrapper{
  width:20vw;
  height: 50vh;
}

/* @media only screen and (max-width:800px){
  .App {
    background-color: green;
  }
  a.homeLink{
    font-size: 1em;
  }
  header{
    height: 7vh;
  }
  nav{
    width: 30vw;
  }
  a.nav{
    padding: 10px;
  }
  .computer{
    height: 40vh;
  }
  .about, .projects, .home{
    margin-top: -400px;
    padding: 0 8vw;
    color: black;
  }

  .selfPicWrapper{
    width:80vw;
    margin-top: -150px;
  }
  .aboutWords{
    width: 80vw;
  }
  footer{
    margin: 5px;
  }
  .myProjects{
    margin-top: 5vh;
  }

  .projectInner{
    width:40vw;

  }
  .tech, .react{
    display: none;
  }

  .projectImage{
    width:40vw;
  }
} */

@media only screen and (max-width:400px){
  a.homeLink{
    font-size: 1em;
  }
  header{
    height: 7vh;
  }
  nav{
    width: 30vw;
  }
  a.nav{
    padding: 10px;
  }
  .computer{
    height: 40vh;
  }
  .about, .projects, .home{
    margin-top: -400px;
    padding: 0 8vw;
    color: black;
  }

  .selfPicWrapper{
    width:80vw;
    margin-top: -150px;
  }
  .aboutWords{
    width: 80vw;
  }
  footer{
    margin: 5px;
  }
  .myProjects{
    margin-top: 5vh;
  }
  
  .projectInner{
    width:40vw;

  }
  .tech, .react{
    display: none;
  }

  .projectImage{
    width:40vw;
  }
}



