.App{
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}
body{
  background-color: black;
}

.projects{
  height: 150px
}

.computer{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.computerWrapper{
  height: 70vh;
  width: 100vw;
}



.about, .projects, .contact, .home{
  margin-top: -300px;
  padding: 0 8vw;
  color: black;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8vw;
  height: 15vh;
  align-items: center;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 25vw;
}
a:hover, .homeLink:hover{
  color: red;
}
a.homeLink{
  color: white;
  font-weight: 800;
  font-size: 2.5em;
}

a{
  text-decoration: none;
  color:white
}



.myProjects, .myContact, .myAbout{
  margin-top: 300px;
}

.myAbout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutWords{
  width: 40vw
}
.myProjects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectImage{
  width: 30vw;
}
.projectWrapper{
  display: flex;
}
.projectInWrap{
  display: flex;
  flex-direction: row;
}
h2{
  text-align: center;
  text-decoration: underline;
}
.projectInner{
  width: 30vw;
  margin: 0 15px;
  text-align: center;
}
.tech{
  font-size: 1.3em;
}
